.pure-g > div{
  -webkit-box-sizing: border-box;
}

.fileSection{
  
}

.fileHolder{
  
}

.file{
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  word-break:break-all;
}

#currentDirectory .file{
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.folderView .file{
  margin: 2px;
  padding: 2px;
  font-size: 9px;
}

.folderView {
  border: 1px solid black;
  word-break: break-all;
  margin-bottom: 10px;
}

